:root {
      --purple: #8a15ff;
      --blue: #3800e7;
      --ltblue: #15e0ff;
      --magenta: #d000c5;

      --purpleo: #8a15ff40;
      --blueo: #3a00e740;
      --ltblueo: #15e0ff40;
      --magentao: #d000c640;
}


/* .copy-img {
      width: 100vw;
      min-height: 72vh;
      background: linear-gradient(var(--purple), var(--blue));
      text-align: center;

      background-image: url("../../images/juanjobg.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;

      filter: blur(8px);
      -webkit-filter: blur(3px);
} */
