.component-header{
      width: 100vw;
      background-color: var(--low-gray);
}

.header-links{
      display: flex;
      flex-direction: row;

      max-width: 600px;
      
      margin-left: auto;
      margin-right: auto;
}
.header-links .link{
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      
      font-size: 26px;
      font-weight: 500;

      color: var(--yellow);
      text-decoration: none;
}


p{margin: 0; padding: 0; box-sizing: border-box;}



:root{
      --red: rgb(200, 30, 0);
      --orange: rgb(255, 80, 0);
      --yellow: rgb(255, 255, 0);
      --low-gray: rgb(70, 70, 70);
      --medium-gray: rgb(50, 50, 50);
      --high-gray: rgb(30, 30, 30);
}