.partners-page{
      background-color: var(--high-gray);
      width: 100vw;
      min-height: 100vh;
      height: 100%;
      padding-top: 20px;
      padding-bottom: 50px;
}

.partners-div{
      
}

.partner{
      width: 200px;
      height: 200px;
}


:root{
      --red: rgb(200, 30, 0);
      --orange: rgb(255, 80, 0);
      --yellow: rgb(255, 255, 0);
      --low-gray: rgb(70, 70, 70);
      --medium-gray: rgb(50, 50, 50);
      --high-gray: rgb(30, 30, 30);

}