.page{
      width: 100vw;
      min-height: 100vh;
      height: 100%;
      background: rgb(20,20,30);
      display: flex;
      flex-direction: column;
}


.title-name{
      color: white;

      font-family: "DM Mono", monospace;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase;

      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
}

.s-txt{
      color: white;
}

#contact-div{
      width: 100vw;
      padding: 20px;
      text-align: center;
}
.contact-btn{
      background-color: rgb(0, 255, 229);
      color: black;
      border-bottom: 4px solid rgb(0, 120, 120);
      
      font-size: 40px;
      font-weight: 700;
}

.right{
      margin-left: auto;
}
.left{
      margin-right: auto;
}

/* .myanimate{
      
} */
.myanimate-active{
      animation: myanimate 1s;
}

@keyframes myanimate {
      from{
            opacity: 0.2;
            transform: translate(100%, 30%);
      }
      to{
            opacity: 1;
            transform: translate(0%, 0%);
      }
}


body{
      overflow-x: hidden;
}
a{
      text-decoration: none;
      
}
a, p{
      margin: 0;
      padding: 0;
}
button{
      border: none;
}
button:hover, .btn:hover{
      cursor: pointer;
}
*{
      box-sizing: border-box;
}
html{
      scroll-behavior: smooth;
}
:root {
      --dark-color: #262033;
      --rdark-color: #201b2f;
      --med-color: #3f3e50;
      --light-color: #5e5c79;
}
